In [1]:
# Import MySQL connector
import mysql.connector as connector

In [2]:
# Connect to MySQL server
connection = connector.connect(
	user = 'user1',
	password = 'password',
	db = 'little_lemon_db'
)

In [3]:
# Create cursor
cursor = connection.cursor()

In [4]:
# Create query
query_string = """
	SELECT
		CONCAT(
			customers.first_name,
	        ' ',
	        customers.last_name
	    ) AS CustomerName,
	    customers.phone_number AS PhoneNumber,
	    customers.email AS Email,
	    orders.total_cost AS BillAmount
	FROM customers
	JOIN bookings ON customers.id = bookings.customer_id
	JOIN orders ON bookings.id = orders.booking_id
	WHERE orders.total_cost > 60;
"""

In [5]:
# Execute query
cursor.execute(query_string)

In [6]:
# Assign results to variable
results = cursor.fetchall()

In [7]:
# Print results
for result in results:
    print(result)

('Alicia Hernandez', '555-0147', 'alicia.h@example.com', Decimal('92.00'))
('Marcus Nguyen', '555-0239', 'marcus.nguyen@example.com', Decimal('167.00'))
('Priya Desai', '555-0348', 'priya.desai@example.com', Decimal('153.00'))